[package]
name = "imageproc"
version = "0.24.0"
authors = ["theotherphil"]
# note: when changed, also update `msrv` in `.github/workflows/check.yml`
rust-version = "1.70.0"
edition = "2021"
license = "MIT"
description = "Image processing operations"
readme = "README.md"
repository = "https://github.com/image-rs/imageproc.git"
homepage = "https://github.com/image-rs/imageproc"
exclude = [
    ".github/*",
    "examples/*",
    "tests/*"
]

[features]
default = [ "rayon", "image/default" ]
property-testing = [ "quickcheck" ]
display-window = ["sdl2"]

[dependencies]
ab_glyph = "0.2.23"
approx = "0.5"
conv = "0.3.3"
image = { version = "0.25.0", default-features = false }
itertools = "0.12"
nalgebra = { version = "0.32", default-features = false, features = ["std"] }
num = "0.4.1"
rand = "0.8.5"
rand_distr = "0.4.3"
rayon = { version = "1.8.0", optional = true }
quickcheck = { version = "1.0.3", optional = true }
sdl2 = { version = "0.36", optional = true, default-features = false, features = ["bundled"] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
getrandom = { version = "0.2", features = ["js"] }

[dev-dependencies]
assert_approx_eq = "1.1.0"
quickcheck = "1.0.3"
wasm-bindgen-test = "0.3.38"

[package.metadata.docs.rs]
# See https://github.com/image-rs/imageproc/issues/358
# all-features = true
features = [ "property-testing" ]

[profile.release]
opt-level = 3
debug = true

[profile.bench]
opt-level = 3
debug = true
rpath = false
lto = false
debug-assertions = false
codegen-units = 1
